/* Сброс стилей по умолчанию */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для body и html */
body, html {
    display: flex;
    flex-direction: column;
    font-family: 'Georama', sans-serif;
    overflow-x: hidden; /* Убираем горизонтальный скроллинг */
    width: 100vw; /* Ограничиваем ширину окна просмотра */
    height: 100vh; /* Устанавливаем высоту окна просмотра */
}

/* Основной контейнер с фоном */
#main {
    display: grid;
    place-items: center;
    background-image: url('images/Main_fon.png');
    background-size: cover; /* Масштабирование */
    background-position: center; /* Центрирование */
    background-repeat: no-repeat;
    width: 100vw; /* Ограничиваем ширину окна просмотра */
    height: 100vh; /* Ограничиваем высоту окна просмотра */
    overflow: hidden; /* Убираем горизонтальный и вертикальный скроллинг */
}

/* Контейнер для кнопок */
.buttons-container {
    position: fixed;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    z-index: 1000;
    overflow-x: hidden; /* Убираем горизонтальный скроллинг */
}

/* Левый и правый фреймы для кнопок */
.frame-left,
.frame-right {
    display: flex;
    align-items: center;
}

/* Стиль для кнопок */
.menu-button,
.contact-button {
    background-color: white;
    color: black;
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 0 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none; /* Убираем обводку */
}

/* Эффекты при наведении */
.menu-button:hover {
    background-color: #7152F1;
    width: 110px; /* Уменьшаем ширину при наведении */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Стиль иконки меню */
.menu-icon {
    width: 28px; /* Уменьшаем размер иконки */
    height: 28px; /* Уменьшаем размер иконки */
    margin-right: 8px; /* Уменьшаем отступ */
    transition: transform 0.8s ease;
}

.menu-button:hover .menu-icon {
    transform: rotate(180deg);
}

/* Текст Darya BB */
.darya-text,
.designer-text {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
}

/* Позиционирование текста Darya BB */
.darya-text {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

/* Позиционирование текста DESIGNER */
.designer-text {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

.image-container {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Повышаем z-index, чтобы элементы находились над фоном */
    transform: translateX(-50%);
    transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1), box-shadow 0.4s ease-in-out;
}

/* Стиль для изображения */
.property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1), filter 0.4s ease-in-out;
}

/* Стиль для векторного наложения */
.vector-overlay {
    position: absolute;
    z-index: 3; /* Повышаем z-index, чтобы элементы находились над фоном */
    transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* Эффекты при наведении на изображение */
.image-container:hover {
    transform: translateX(20px) scale(1.05);
}

.property-image:hover {
    transform: rotate(23deg);
    filter: brightness(1.1) contrast(1.2);
}

.vector-overlay:hover {
    transform: rotate(83deg);
}

/* Текст UX/UI DESIGNER */
.ux-ui-text {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    width: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

/* Текст Creativity and Uniqueness for Your Brand */
.creativity-text {
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    text-align: center;
    transition: transform 0.4s ease, color 0.3s ease, opacity 0.3s ease;
    width: 80%;
    max-width: 300px;
}

/* Блок #info с фоном */
#info {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw; /* Ограничиваем ширину окна просмотра */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Блок контента внутри #info */
.info-content {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

/* Стиль текста Hello! */
.info-hello {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 48px;
    margin: 0 0 16px;
    color: #fff;
    text-align: center;
}

/* Стиль текста имени */
.info-name {
    font-family: 'Georama', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.info-name-bold {
    font-weight: 700;
}

/* Стиль описания */
.info-description {
    font-family: 'K2D', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 8px;
    width: 300px;
    text-align: justify;
}

.info-avatar {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.info-avatar:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* Стили для контейнера outside-box */
.outside-box {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #C89BFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для текста в блоке outside-box */
.outside-box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 2;
    padding-left: 20px;
    transition: transform 0.3s ease-out;
}

.underline {
    display: flex;
    align-items: center;
    position: relative;
}

.underline svg {
    margin: 0 3px;
    transition: transform 0.5s ease-out;
}

.outside-box-title,
.outside-box-subtitle,
.outside-box-description {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}

/* Стили для анимации элемента */
.animate-outside-container {
    transform: translateX(0px);
    transition: transform 2s ease-out;
}

/* Стили для блока about */
.about {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #C89BFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card {
    position: relative;
    height: auto; /* Адаптивная высота */
    width: 90%; /* Адаптивная ширина */
    transform: translateY(100%);
    transition: transform 0.5s ease-out; /* Плавная анимация */
}

/* Медиа-запросы для адаптивности */
@media only screen and (max-width: 400px) {
    body, html {
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
        width: 100vw; /* Ограничиваем ширину окна просмотра */
    }

    /* Стиль для основного блока с фоном */
    #main {
        background-size: cover; /* Масштабирование */
        background-position: center; /* Центрирование */
        background-repeat: no-repeat;
        padding: 104px 0;
        min-height: 100vh;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
        width: 100vw; /* Ограничиваем ширину окна просмотра */
    }

    .darya-text {
        font-size: 30px;
        top: 50%;
        left: 50%; /* Центрируем по горизонтали */
        transform: translate(-50%, -50%); /* Центрируем по обеим осям */
        text-align: center;
    }

    .vector-overlay {
        height: 80px;
        width: 80px;
        position: absolute;
        z-index: 2;
        transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    .designer-text {
        font-size: 30px;
        top: 60%;
        left: 50%; /* Центрируем по горизонтали */
        transform: translate(-50%, -50%); /* Центрируем по обеим осям */
        text-align: center;
    }

    .image-container {
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%; /* Центрируем по горизонтали */
        transform: translate(-50%, -50%); /* Центрируем по обеим осям */
    }

    .ux-ui-text {
        font-size: 10px;
        text-align: center; /* Центрируем текст */
        top: 70%;
        left: 50%; /* Центрируем по горизонтали */
        transform: translate(-50%, -50%); /* Центрируем по обеим осям */
    }

    .creativity-text {
        font-size: 10px;
        text-align: center; /* Центрируем текст */
        top: 75%;
        left: 50%; /* Центрируем по горизонтали */
        transform: translate(-50%, -50%); /* Центрируем по обеим осям */
    }

    .about,
    .outside-box {
        width: 100%;
        height: auto;
        padding: 20px;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
        max-width: 100vw; /* Ограничиваем максимальную ширину */
    }

    .about-card,
    .outside-box-content {
        width: 90%;
        height: auto;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
        max-width: 100vw; /* Ограничиваем максимальную ширину */
    }
}
